.uwu {
    background-color: rgb(255, 208, 0);
}

.imagelogo {
    text-align: start;
    width: 70%;
    padding: auto;
    margin-left: 3rem
}

.sidoplasma {
    width: 10%;  
    height: 10%;
    padding: auto;
    margin-left: 3rem
}

.SignIn{
    padding: 1rem 1.5rem;
    font-size: 1px;
}