@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');
@import url('http://fonts.cdnfonts.com/css/mayflower-antique');    

@font-face { font-family: "mayflower"; src: url('http://fonts.cdnfonts.com/css/mayflower-antique'); }
.uwu {
    background-color: #fce786;
}

.imagelogo {
    text-align: start;
    width: 70%;
    padding: auto;
    margin-left: 3rem
}

.sidoplasma {
    width: 10%;  
    height: 10%;
    padding: auto;
    margin-left: 3rem
}


.textnavbar{
    color:black;
    font-family: 'mayflower' 
} 

.SignIn{
    margin-right: 3rem;
    font-family: 'mayflower'
}
